@model TicketSystem_Concert.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Registar</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <input type="hidden" asp-for="Id" />
            <partial name="../Shared/PartialViews/_TicketRegisterDisable" />
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}