@model IEnumerable<TicketSystem_Concert.DAL.Entities.Ticket>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
<h1>Concierto</h1>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bichota</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="TicketTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.Id)
                                </td>
                                <td>
                                    <div class="d-grid gap-2 col-8 mx-auto">
                                      <a asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-outline-warning">Registrar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#TicketTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [1],[1]
                ]
            });
        });
    </script>
}